:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.button {
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  border: 1px solid #222;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: #999;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
